<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
          <add key="MediaServicesSourceAccountName" value="name"/>
          <add key="MediaServicesSourceAccountKey" value="key"/>
          <add key="MediaServicesDestAccountName" value="name"/>
          <add key="MediaServicesDestAccountKey" value="key"/>
          <add key="DestStorageAccountName" value="name"/>
          <add key="DestStorageAccountKey" value="key"/>
          <add key="SourceAssetID" value="nb:cid:UUID:assetID"/>       
	</appSettings>
</configuration>
